<a href="https://colab.research.google.com/github/rajviishah/Real-Estate-Investment/blob/main/Classification-Techniques/Muller-Classification-Loop-Rajvi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import time
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [8]:
dataframe = pd.read_csv("/content/drive/MyDrive/CMPE 257 - Project/new_clean_train.csv")

In [9]:
dataframe.head()

,Unnamed: 0,LotShape,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,...,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice,Age_House,TotalBsmtBath,TotalBath,TotalSA
0,0,3,4,2,4,2,2,6,1,4,...,0,0,0,2,2008,208500.0,5,1.5,2.5,2566.0
1,1,3,2,2,4,2,4,5,1,4,...,0,0,0,5,2007,181500.0,31,0.0,2.0,2524.0
2,2,2,4,2,4,2,2,6,1,4,...,0,0,0,9,2008,223500.0,7,1.5,2.5,2706.0
3,3,2,2,2,2,4,2,5,1,4,...,0,0,0,2,2006,140000.0,91,1.5,1.0,2473.0
4,4,2,4,2,4,2,3,6,1,4,...,0,0,0,12,2008,250000.0,8,1.5,2.5,3343.0

In [10]:
dataframe.columns

Index(['Unnamed: 0', 'LotShape', 'ExterQual', 'ExterCond', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'HeatingQC',
       ...
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SalePrice',
       'Age_House', 'TotalBsmtBath', 'TotalBath', 'TotalSA'],
      dtype='object', length=232)

In [11]:
dataframe = dataframe.drop(['Unnamed: 0'], axis = 1)
dataframe

,LotShape,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,CentralAir,...,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice,Age_House,TotalBsmtBath,TotalBath,TotalSA
0,3,4,2,4,2,2,6,1,4,1,...,0,0,0,2,2008,208500.0,5,1.5,2.5,2566.0
1,3,2,2,4,2,4,5,1,4,1,...,0,0,0,5,2007,181500.0,31,0.0,2.0,2524.0
2,2,4,2,4,2,2,6,1,4,1,...,0,0,0,9,2008,223500.0,7,1.5,2.5,2706.0
3,2,2,2,2,4,2,5,1,4,1,...,0,0,0,2,2006,140000.0,91,1.5,1.0,2473.0
4,2,4,2,4,2,3,6,1,4,1,...,0,0,0,12,2008,250000.0,8,1.5,2.5,3343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,3,2,2,4,2,2,1,1,4,1,...,0,0,0,8,2007,175000.0,8,0.0,2.5,2600.0
1456,3,2,2,4,2,2,5,3,2,1,...,0,0,0,2,2010,210000.0,32,1.5,2.0,3615.0
1457,3,4,4,2,4,2,6,1,4,1,...,0,0,2500,5,2010,266500.0,69,0.0,2.0,3492.0
1458,3,2,2,2,2,2,6,3,4,1,...,0,0,0,4,2010,142125.0,60,1.5,1.0,2156.0
1459,3,4,2,2,2,2,4,2,4,1,...,0,0,0,6,2008,147500.0,43,1.5,1.5,2512.0

In [27]:
X_train = dataframe.drop(['OverallQual'], axis=1)
y_train = dataframe['OverallQual']

In [32]:
normalized_X = (X_train-X_train.min())/(X_train.max()-X_train.min())
normalized_X

,LotShape,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,HeatingQC,CentralAir,...,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice,Age_House,TotalBsmtBath,TotalBath,TotalSA
0,1.000000,1.000000,0.333333,1.0,0.5,0.50,1.000000,0.166667,1.000000,1.0,...,0.0,0.0,0.00000,0.090909,0.50,0.241078,0.036765,0.333333,0.714286,0.195481
1,1.000000,0.333333,0.333333,1.0,0.5,1.00,0.833333,0.166667,1.000000,1.0,...,0.0,0.0,0.00000,0.363636,0.25,0.203583,0.227941,0.000000,0.571429,0.191802
2,0.666667,1.000000,0.333333,1.0,0.5,0.50,1.000000,0.166667,1.000000,1.0,...,0.0,0.0,0.00000,0.727273,0.50,0.261908,0.051471,0.333333,0.714286,0.207742
3,0.666667,0.333333,0.333333,0.5,1.0,0.50,0.833333,0.166667,1.000000,1.0,...,0.0,0.0,0.00000,0.090909,0.00,0.145952,0.669118,0.333333,0.285714,0.187336
4,0.666667,1.000000,0.333333,1.0,0.5,0.75,1.000000,0.166667,1.000000,1.0,...,0.0,0.0,0.00000,1.000000,0.50,0.298709,0.058824,0.333333,0.714286,0.263531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1.000000,0.333333,0.333333,1.0,0.5,0.50,0.166667,0.166667,1.000000,1.0,...,0.0,0.0,0.00000,0.636364,0.25,0.194556,0.058824,0.000000,0.714286,0.198459
1456,1.000000,0.333333,0.333333,1.0,0.5,0.50,0.833333,0.500000,0.333333,1.0,...,0.0,0.0,0.00000,0.090909,1.00,0.243161,0.235294,0.333333,0.571429,0.287353
1457,1.000000,1.000000,1.000000,0.5,1.0,0.50,1.000000,0.166667,1.000000,1.0,...,0.0,0.0,0.16129,0.363636,1.00,0.321622,0.507353,0.000000,0.571429,0.276581
1458,1.000000,0.333333,0.333333,0.5,0.5,0.50,1.000000,0.500000,1.000000,1.0,...,0.0,0.0,0.00000,0.272727,1.00,0.148903,0.441176,0.333333,0.285714,0.159573
1459,1.000000,1.000000,0.333333,0.5,0.5,0.50,0.666667,0.333333,1.000000,1.0,...,0.0,0.0,0.00000,0.454545,0.50,0.156367,0.316176,0.333333,0.428571,0.190751

In [33]:
#split the features and labels into  train and test data
X_train, X_test, y_train, y_test = train_test_split(normalized_X, y_train, test_size=0.2, random_state=1)

In [34]:
names = ["Decision Tree", "Random Forest", "Logistic Regression", "Support Vector Machines", "Naive Bayes", "k Nearest Neighbors"]

In [35]:
classifiers = [
    DecisionTreeClassifier(),
    RandomForestClassifier(max_depth=2, random_state=0),
    LogisticRegression(random_state=0),
    SVC(gamma='auto'),
    GaussianNB(),
    KNeighborsClassifier(n_neighbors=3)

]

In [36]:
max_score = 0.0
max_class = ''
# iterate over classifiers
for name, clf in zip(names, classifiers):
    start_time = time.time()
    clf.fit(X_train, y_train)
    score = 100.0 * clf.score(X_test, y_test)
    print('Classifier = %s, Score (test, accuracy) = %.2f,' %(name, score), 'Training time = %.2f seconds' % (time.time() - start_time))
    
    if score > max_score:
        clf_best = clf
        max_score = score
        max_class = name

Classifier = Decision Tree, Score (test, accuracy) = 46.58, Training time = 0.05 seconds
Classifier = Random Forest, Score (test, accuracy) = 48.97, Training time = 0.24 seconds

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

Classifier = Logistic Regression, Score (test, accuracy) = 53.77, Training time = 0.56 seconds
Classifier = Support Vector Machines, Score (test, accuracy) = 49.66, Training time = 0.41 seconds
Classifier = Naive Bayes, Score (test, accuracy) = 13.36, Training time = 0.02 seconds
Classifier = k Nearest Neighbors, Score (test, accuracy) = 51.03, Training time = 0.05 seconds

In [37]:
print('Best --> Classifier = %s, Score (test, accuracy) = %.2f' %(max_class, max_score))
#plot the output of the various algorithms

Best --> Classifier = Logistic Regression, Score (test, accuracy) = 53.77

- We are trying to implementation of classification algorithms on mutli-label feature.

- Instead of keeping numerical values of features - OverallQual, we can convert it to binary classification problem. How? OverallQual > 5 -> Good quality; OverallQual < 5 -> Not Good quality. 

- This can help in getting house quality by entering some features like Sales Price. Assuming, the user enters the house budget and location, he/she can get an idea about the house quality.